.main .results-container {
	display: none;
	justify-content: center;
	padding-top: 5.5rem;
}

.results-container .results {
	display: grid;
	grid-auto-rows: 17.5rem;
	grid-template-columns: repeat(5, 9rem);
	gap: 3rem;
}

.results .result {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	cursor: pointer;
}

.result:hover .result__info {
	animation: changeColor 0.2s ease-in-out forwards;
}
@keyframes changeColor {
	0% {
		background-color: #3673e400;
	}
	50% {
		background-color: #3673e483;
	}
	100% {
		background-color: #3673e4;
	}
}

.result .result__poster {
	width: 100%;
	height: 78%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: 10px 10px 0 0 / 10px 10px 0 0;
}

.result .result__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.5rem;
	width: 100%;
	height: 22%;
	border-radius: 0 0 10px 10px/ 0 0 10px 10px;
	transition: all 0.3s;
}

.result__info .result__title {
	padding-bottom: 0.6rem;
	font-size: 0.8rem;
	font-weight: bold;
	color: rgb(255, 248, 226);
}

.result__info .result__year {
	font-size: 0.6rem;
	font-weight: bold;
	color: rgb(170, 170, 170);
}
