/* 1040px 이하 */
@media (max-width: 1040px) {
	html {
		font-size: 14px;
	}
	.results-container .results {
		grid-template-columns: repeat(3, 9rem);
		gap: 4.5rem;
	}
}

/* 768px 이하 (for tablet)*/
@media (max-width: 768px) {
	html {
		font-size: 10px;
	}
	/* search */
	.search-container .search {
		width: 80%;
	}
	/* movie */
	.results-container .results {
		grid-auto-rows: 15rem;
		grid-template-columns: 40rem;
		gap: 2rem;
	}
	.results .result {
		flex-direction: row;
		justify-content: space-between;
		padding: 1rem 3rem;
		border-radius: 10px;
		background-color: #f9b949;
	}

	.result:nth-child(2n) {
		background-color: #b06010;
	}

	.result:nth-child(3n) {
		background-color: #004990;
	}

	.result:nth-child(5n) {
		background-color: #b50938;
	}

	.result .result__poster {
		width: 30%;
		height: auto;
		border-radius: 10px;
	}

	.result .result__info {
		justify-content: space-between;
		padding: 1.5rem 3rem;
		width: 70%;
		height: 100%;
		font-size: 2.3rem;
		border-radius: none;
	}
	.result:hover .result__info {
		animation: none;
	}
}

/* 480px 이하 (for smartphone)*/
@media (max-width: 480px) {
	html {
		font-size: 9px;
	}
	/* search */
	.search-container .search {
		width: 90%;
	}

	/* movie */
	.results-container .results {
		grid-auto-rows: 15rem;
		grid-template-columns: 30rem;
		gap: 2rem;
	}
	.result .result__poster {
		width: 40%;
	}

	.result .result__info {
		padding: 1.5rem 2rem;
		width: 60%;
		font-size: 1.5rem;
	}
}
