.main .search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.search-container .search {
	padding: 0.6rem 1.5rem;
	width: 60%;
	background-color: white;
	border-radius: 8px;
	box-shadow: 2px 5px 15px 3px rgba(0.4, 0.5, 0.4, 0.2);
}

/* ********************search-area******************* */
.search-container .search .search-area {
	display: flex;
	align-items: center;
	width: 100%;
}

.search-container .search .search-area .search-area__i {
	font-size: 1.7rem;
	color: rgb(54, 54, 54);
}

.search-container .search .search-area .search-area__input {
	width: 100%;
	height: 2.5rem;
	margin-left: 15px;
	font-size: 1.7rem;
	border: none;
}

.search-area .search-area__input:focus {
	outline: none;
}

.search-area .search-area__input::placeholder {
	font-size: 1.7rem;
	color: rgb(224, 224, 224);
	line-height: 3rem;
}

/* ********************search-boundary******************* */
.search-container .search .search-boundary {
	display: none;
	margin: 0.6rem 0 1rem 0;
	border-top: rgb(230, 230, 230) solid 2px;
}

/* ********************search-info******************* */

.search-container .search .search-info {
	display: none;
	padding-bottom: 0.3rem;
	font-size: 0.8rem;
	color: rgb(180, 180, 180);
}
/* ********************recent-items******************* */
.search-container .search .recent-items {
}

.recent-items .recent-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	cursor: pointer;
}

.recent-items .recent-item:hover {
	background-color: rgb(209, 209, 209);
}
.recent-items .recent-item:hover .item__btn {
	display: block;
}

.recent-item .item__text {
	width: 70%;
	font-size: 1.2rem;
}

.recent-item .item__btn {
	display: none;
	border: none;
	border-radius: 20%;
	background-color: white;
	color: black;
	outline: none;
	cursor: pointer;
	font-size: 0.7rem;
}

.recent-item .item__btn:hover {
	background-color: rgb(143, 143, 143);
}

/* ********************show******************* */
.search-container .search .show {
	display: block;
}
