@import 'reset.css';
@import 'header.css';
@import 'results.css';
@import 'modal.css';
@import 'responsive.css';

* {
	box-sizing: border-box;
	word-break: normal;
	word-wrap: break-word;
}

body {
	height: 100%;
	background-color: #f1efe4;
	font-family: 'PT Sans', sans-serif;
}

body.open {
	overflow: hidden;
}

.main {
	overflow: hidden;
	width: 100%;
	height: 70%;
	padding-bottom: 80px;
}
